/* section.account-info {
    background-image: linear-gradient(to right, #0a3240 0%, #39425a 51%, #15303a 100%);
    border-top: 1px solid #32465A;
    border-bottom: 1px solid #32465A;
    background-color: #34495e;
} */

.btn_black_icon {
    font-size: 1.2rem;
    color: var(--white);
    padding: 0.5rem 0.8rem 0.5rem 1rem;
    background-color: #333333;
    border-radius: 0.5rem;
    box-shadow: 0 3px 10px rgb(51 51 51 / 20%);
}

.btn_black_icon:hover {
    color: var(--main-color-light);
}

.account_info_container {
    margin: 2rem 0;
}

.account_info_container .info_customer {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    box-shadow: 0 3px 10px rgb(51 51 51 / 20%);
    background-color: var(--white);
    padding: 1rem;
    border-radius: 0.5rem;
}

.account_info_container .info_customer .avatar {
    position: relative;
    padding: 1rem;
}

.account_info_container .info_customer .avatar img {
    width: 75px;
    height: 75px;
    border-radius: 1rem;
    box-shadow: 0 3px 10px rgb(51 51 51 / 20%);
    display: block;
    object-fit: cover;
}

.account_info_container .info_customer .info {
    padding: 0 1rem;
}

.account_info_container .info_customer .info h5 {
    font-family: 'Ubuntu', sans-serif;
    color: #333333;
    font-size: 1.7rem;
    line-height: 2;
}

.account_info_container .info_customer .info p {
    font-size: 1.4rem;
    font-family: 'Ubuntu', sans-serif;
    color: var(--blue);
}

.account_info_container .info_customer .nav_bar {
    margin-left: auto;
    margin-right: 0;
    padding: 1rem;
}

.account_info_container .info_customer .nav_bar ul {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    border-radius: 0.5rem;
    padding: 1.4rem 0;
}

.account_info_container .info_customer .nav_bar ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}

.account_info_container .info_customer .nav_bar ul li {
    padding: 0 1rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: start;
}

.account_info_container .info_customer .nav_bar ul li a {
    padding: 0.6rem;
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
    transition: none;
    border-radius: 0.5rem;
    z-index: 100;
}

.account_info_container .info_customer .nav_bar ul li a.active,
.account_info_container .info_customer .nav_bar ul li a:hover {
    color: var(--main-color-light);
    background-color: #333333;
}

.account_info_container .content_page {
    width: 100%;
    min-height: 400px;
    padding: 1rem 2rem 2rem;
    margin: 2rem 0 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 3px 10px rgb(51 51 51 / 20%);
    overflow-x: auto;
}


/* --------------------------------- */

.account_info_container .content_page table.greenTable {
    font-family: Georgia, serif;
    width: 100%;
    border-collapse: collapse;
}

.account_info_container .content_page table.greenTable tr {
    border-bottom: 0.1rem solid var(--light-color);
}

.account_info_container .content_page table.greenTable tbody tr:last-child {
    border-bottom: none;
}

.account_info_container .content_page table.greenTable td {
    font-size: 1.4rem;
    padding: 1.4rem 1.4rem 1.4rem 0;
}

.account_info_container .content_page table.greenTable th:last-child,
.account_info_container .content_page table.greenTable td:last-child {
    text-align: right;
}

.account_info_container .content_page table.greenTable tbody tr:hover {
    /* background-color: var(--light-color); */
    border-color: var(--main-color-light);
    color: var(--text-color);
    transition: none;
}

.account_info_container .content_page table.greenTable thead th {
    font-size: 1.4rem;
    padding: 1rem 0;
    font-weight: bold;
    color: var(--text-color);
    text-align: left;
}

.account_info_container .content_page table.greenTable thead th:first-child {
    border-left: none;
}

span.star i {
    color: var(--yellow);
    font-size: 1.3rem;
}

.flex_R {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}

a.edit-review {
    font-size: 1.3rem;
    padding: 1rem 1rem 1rem 1.5rem;
    color: var(--main-color);
    border: 0.1rem solid var(--main-color);
    border-radius: 0.5rem;
}

.delete_order {
    background-color: #333333;
    color: var(--white);
    padding: 0.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.delete_order:hover {
    color: var(--main-color-light);
}

.delete_order_success {
    padding: 0.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: var(--red);
    color: var(--white);
}

a.delete-review {
    font-size: 1.3rem;
    padding: 1rem 1.5rem;
    color: var(--red);
    border: 0.1rem solid var(--red);
    border-radius: 0.5rem;
    display: inline-block;
}

a.delete-review:hover {
    background-color: var(--red);
    color: var(--white);
}

.account-info .account_info_container .content_page_double {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    grid-gap: 2rem;
    margin: 2rem 0 1rem;
}

.account_info_container .content_page_double .box {
    width: 100%;
    min-height: 400px;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 3px 10px rgb(51 51 51 / 20%);
}

.account_info_container .content_page_double .box.form {
    display: none;
    background-color: #f8f8f8;
}


/* .account_info_container .content_page_double .box.form form .box_content_top {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.account_info_container .content_page_double .box.form form .box_content_top a.undo {
    font-size: 1.2rem;
    color: var(--white);
    padding: 0.5rem 0.8rem 0.5rem 1rem;
    background-color: #333333;
    border-radius: 0.5rem;
    display: inline;
} */

.account_info_container .content_page_double .box.form form .box_content {
    display: flex;
}

.account_info_container .content_page_double .box.form form .box_content .avatar {
    position: relative;
    padding: 1rem 0;
}

.account_info_container .content_page_double .box.form form .box_content .avatar img {
    width: 100px;
    height: 100px;
    border-radius: 1rem;
    box-shadow: 0 3px 10px rgb(51 51 51 / 20%);
    display: block;
    object-fit: cover;
}

.account_info_container .content_page_double .box.form form .box_content .undo {
    margin-left: auto;
    margin-right: 0;
}

.account_info_container .content_page_double .box.form form .box_content .avatar .setting {
    position: absolute;
    bottom: 0;
    right: -1rem;
    padding: 0.7rem 0.7rem 0.7rem 0.9rem;
    border-radius: 0.5rem;
    background-color: #333333;
    box-shadow: 0 3px 10px rgb(51 51 51 / 20%);
    color: var(--white);
    cursor: pointer;
}

.account_info_container .content_page_double .box.form form .box_content .avatar .setting:hover {
    background-color: #333333;
    color: var(--main-color-light);
}

.account_info_container .content_page_double .box.form form .box_content_last {
    margin: 2rem 0 0;
}

.account_info_container .content_page_double .box.form form .box_content_last .box_item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.account_info_container .content_page_double .box.form form .box_content_last .box_item label {
    width: 50px;
    padding: 0.8rem 0;
    font-size: 1.4rem;
    color: var(--white);
    font-weight: bold;
    border-radius: 0.5rem 0 0 0.5rem;
    text-align: center;
    background-color: #333333;
}

.account_info_container .content_page_double .box.form form .box_content_last .box_item input {
    width: 100%;
    border: 0.1rem solid var(--text-color);
    border-radius: 0 0.5rem 0.5rem 0;
    border-left: none;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
}

.account_info_container .content_page_double .box.form form .box_content_last .box_item input:focus {
    border-color: var(--main-color-light);
    box-shadow: 0 3px 10px rgb(51 51 51 / 20%);
}

.account_info_container .content_page_double .box.form form .box_content_last .box_item_last {
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin-top: 4.5rem;
}

.account_info_container .content_page_double .box.form form .box_content_last .box_item_last a {
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    color: var(--white);
    background-color: var(--red);
}

.account_info_container .content_page_double .box.form form .box_content_last .box_item_last button {
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    color: var(--white);
    background-color: var(--main-color);
    cursor: pointer;
}

.account_info_container .content_page_double .box.form form .box_content_last .box_item_last button:hover {
    background-color: var(--main-color-hover);
}

.account_info_container .content_page_double .box .box_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account_info_container .content_page_double .box .title {
    color: #333333;
    font-family: 'Ubuntu', sans-serif;
    line-height: 2;
    font-size: 2.4rem;
}

.account_info_container .content_page_double .box .box_top a {
    font-size: 1.2rem;
    color: var(--white);
    padding: 0.5rem 0.8rem 0.5rem 1rem;
    background-color: #333333;
    border-radius: 0.5rem;
    box-shadow: 0 3px 10px rgb(51 51 51 / 20%);
}

.account_info_container .content_page_double .box .box_top a:hover {
    color: var(--main-color-light);
}

.account_info_container .content_page_double .box ul {
    padding: 1rem 0;
}

.account_info_container .content_page_double .box ul li {
    list-style: none;
    font-size: 1.6rem;
}

.account_info_container .content_page_double .box ul li.first_one a,
.account_info_container .content_page_double .box ul li.first_two a {
    color: var(--blue);
}

.account_info_container .content_page_double .box ul li.first_two a:hover {
    text-decoration: underline;
}

.account_info_container .content_page_double .box ul li.first_one .rtrim:last-child,
.account_info_container .content_page_double .box ul li.first_two .rtrim:last-child {
    display: none;
}

.account_info_container .content_page_double .box ul li strong {
    padding: 0 1rem 0 0;
}

.account_info_container .content_page_double .box ul li span {
    /* padding: 0 1rem; */
    color: var(--text-color);
}

.account_info_container .content_page_double .box .box_bottom {
    display: flex;
    justify-content: start;
    padding: 1rem 0;
}

.account_info_container .content_page_double .box .box_bottom .changepassword {
    font-size: 1.6rem;
    color: var(--white);
    padding: 1rem;
    background-color: var(--text-color);
    border-radius: 0.5rem;
}

.account_info_container .content_page_double .box .box_bottom .changepassword:hover {
    background-color: var(--blue);
}