.custommer .customer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0 5rem;
    gap: 2rem;
}

.custommer .customer-container .title h1 {
    font-size: 3rem;
    color: var(--text-color);
}

.custommer .customer-container .title span {
    font-size: 1.8rem;
    color: var(--text-color);
}

.custommer .customer-container .avatar-customer {
    width: 20rem;
    height: 20rem;
    /* padding: 4rem 0; */
    border-radius: 0.5rem;
    position: relative;
}

.custommer .customer-container .avatar-customer img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
}

.custommer .customer-container .avatar-customer .foot-avatar label {
    text-align: center;
    padding: 1rem 2rem;
    background: rgba(12, 13, 14, 0.6);
    cursor: pointer;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--white);
    font-size: 1.6rem;
}

.custommer .customer-container .avatar-customer .foot-avatar label:hover {
    background: var(--main-color);
}

.custommer .customer-container .information-customer {
    /* padding: 0 5rem; */
    /* background-color: var(--white-light); */
    border-radius: 0.5rem;
}

.custommer .customer-container .information-customer .group {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.custommer .customer-container .information-customer .group label {
    color: var(--black);
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.custommer .customer-container .information-customer .group label .text-red {
    color: var(--red);
}

.custommer .customer-container .information-customer .group input,
.custommer .customer-container .information-customer .group textarea,
.custommer .customer-container .information-customer .group select {
    width: 100%;
    color: var(--text-color);
    font-size: 1.6rem;
    border: 0.1rem solid var(--light-color);
    border-radius: 0.5rem;
    padding: 1rem 1.7rem;
}

.custommer .customer-container .information-customer .group-last {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 2rem 0;
    gap: 2rem;
}

.custommer .customer-container .information-customer .group-last a {
    padding: 1rem 1.7rem;
    border: 0.1rem solid var(--light-color);
    background-color: var(--white);
    color: var(--text-color);
    font-size: 1.6rem;
    border-radius: 0.5rem;
}

.custommer .customer-container .information-customer .group-last a:hover {
    background-color: var(--light-color);
}

.custommer .customer-container .information-customer .group-last button {
    padding: 1rem 1.7rem;
    border: 0.1rem solid var(--main-color);
    background-color: var(--main-color);
    color: var(--white);
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.custommer .customer-container .information-customer .group-last button:hover {
    background-color: var(--main-color-hover);
}


/*  */

.account-info .customer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10rem 5rem;
    gap: 2rem;
}

.account-info .customer-container .avatar-customer {
    padding: 2rem;
    /* background-color: #f8f8f8; */
    border-radius: 0.5rem;
}

.account-info .customer-container .avatar-customer .avatar {
    width: 20rem;
    height: 20rem;
    border-radius: 0.5rem;
    margin: auto;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
}

.account-info .customer-container .avatar-customer .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.account-info .customer-container .information-customer {
    padding: 2rem;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
}

.account-info .customer-container .information-customer .title {
    font-size: 2.4rem;
}

.account-info .customer-container .information-customer .group {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 2rem 0;
}

.account-info .customer-container .information-customer .group label {
    color: var(--black);
    font-size: 1.7rem;
}

.account-info .customer-container .information-customer .group span {
    color: var(--text-color);
    font-size: 1.7rem;
    padding-left: 1rem;
}

.account-info .customer-container .information-customer .group-last {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 2rem 0;
    gap: 2rem;
}

.account-info .customer-container .information-customer .group-last a.updateinfo {
    padding: 1rem 1.7rem;
    border: 0.1rem solid var(--main-color);
    background-color: var(--white);
    color: var(--main-color);
    font-size: 1.6rem;
    border-radius: 0.5rem;
}

.account-info .customer-container .information-customer .group-last a.updateinfo:hover {
    background-color: var(--main-color);
    color: var(--white);
}

.account-info .customer-container .information-customer .group-last a.changpassword {
    padding: 1rem 1.7rem;
    border: 0.1rem solid var(--text-color);
    background-color: var(--white);
    color: var(--text-color);
    font-size: 1.6rem;
    border-radius: 0.5rem;
}

.account-info .customer-container .information-customer .group-last a.changpassword:hover {
    background-color: var(--text-color);
    color: var(--white);
}