/* .sliders {
    padding: 2rem 5%;
} */

.sliders {
    padding: 0;
}


/* 
.sliders .slider-container .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 10rem;
}

.sliders .slider-container .slide .content {
    flex: 1 1 45rem;
}

.sliders .slider-container .slide .content span {
    color: var(--main-color);
    font-size: 2.5rem;
}

.sliders .slider-container .slide .content h3 {
    color: var(--black);
    font-size: 5rem;
}

.sliders .slider-container .slide .content p {
    color: var(--text-color);
    font-size: 1.7rem;
    padding: 0.5rem 0;
    line-height: 1.5;
}

.sliders .slider-container .slide .content .btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: var(--main-color);
    background-color: var(--white);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.8rem 3rem;
}

.sliders .slider-container .slide .content .btn:hover {
    color: var(--yellow);
    background-color: var(--main-color);
}

.sliders .slider-container .slide .image {
    flex: 1 1 45rem;
} */

.sliders .slider-container .slide .image {
    width: 100%;
    height: auto;
}

.sliders .slider-container .slide .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet-active {
    background: var(--main-color);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 2rem;
}

.swiper-button-prev,
.swiper-button-next {
    background-color: var(--main-color);
    color: var(--white);
    padding: 2rem 2.2rem;
    border-radius: 50%;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: var(--yellow);
}